<div class="footer" data-js="footer">
  <div class="footer__content">
    <img class="footer__logo" src="{{logoSrc}}" alt="InterDead logo">
    <div class="footer__text">
      <p class="footer__paragraph" data-i18n="footer_disclaimer_primary"></p>
      <p class="footer__links">
        <a class="footer__link" data-i18n="footer_link_about" data-i18n-href="footer_link_about_href" rel="noopener" target="_blank"></a>
        <span class="footer__divider">·</span>
        <a class="footer__link" data-i18n="footer_link_protocol" data-i18n-href="footer_link_protocol_href" rel="noopener" target="_blank"></a>
        <span class="footer__divider">·</span>
        <a class="footer__link" data-i18n="footer_link_ports" data-i18n-href="footer_link_ports_href" rel="noopener" target="_blank"></a>
        <span class="footer__divider">·</span>
        <a class="footer__link" data-i18n="footer_link_wiki" data-i18n-href="footer_link_wiki_href" rel="noopener" target="_blank"></a>
        <span class="footer__divider">·</span>
        <a class="footer__link" data-i18n="footer_link_issues" data-i18n-href="footer_link_issues_href" rel="noopener" target="_blank"></a>
      </p>
      <p class="footer__paragraph footer__paragraph--secondary" data-i18n="footer_disclaimer_secondary"></p>
    </div>
  </div>
</div>
