<div class="registration-screen" data-js="registration-screen">
  <div class="registration-screen__panel">
    <h2 class="registration-screen__title" data-i18n="register_profile">Register Profile</h2>
    <label class="registration-screen__label" data-js="registration-label" for="registration-name" data-i18n="enter_name_label">Enter name</label>
    <input
      class="registration-screen__input"
      id="registration-name"
      data-js="input-name"
      data-action="enter-name"
      autocomplete="name"
    >
  </div>
</div>
