<div class="control-select-wrapper language-picker">
  <span class="language-picker__icon" aria-hidden="true">🌐</span>
  <select class="control-select language-selector"
          data-js="language-selector"
          data-action="change-language"
          data-icon="🌐">
    <option value="en" data-i18n="lang.en"></option>
    <option value="ru" data-i18n="lang.ru"></option>
    <option value="uk" data-i18n="lang.uk"></option>
    <option value="ja" data-i18n="lang.ja"></option>
  </select>
</div>
